<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            padding-left: 30px;
        }
        .h{
            float: left;
            color:white;
            padding-left: 50px;
            font-size:25px;
        }
        .menu{
            float: right;
            letter-spacing:2px;
            word-spacing: 40px;
            color: white;
            padding-right: 60px;
            font-size:25px;
        }
    </style>
</head>
<body style="background-color: black;">
    <nav class="navbar">
        <div class="h">🦁sheryians coding school</div>
        <div class="menu">

            <a target="_blank" href="home">Home</a>
            <a href="courses">Courses</a>
            <a href="contact">Contact</a>
            <input type="button" value="Sign In" style="background-color: aqua;">
        </div>
    </nav>
    <br><br><br>
    
    <pre><h1 style="color:white;font-size: 60px;font-style: italic;">We're not a <span style="color:greenyellow;">course
factory.</span></h1></pre>
    <h2 style="color:white;font-style: italic;font-size:30px;">We focus on the courses that really help.
    </h2><br><br>
    <h2 style="color:white;font-size:30px;font-style: italic;">Courses which do we work &#8595</h2>
    <br><br>

<div>   
<div style="width:30%;height:520px;background-color:black;border-radius: 10px;float: left; padding-left: 0px;">
    <img src="../static/im1.webp" alt="" style="width:100%;padding-left: 0px;">
    <h1 style="font-size:25px;color:white;padding-left: 0px;">Backend-Domination:Create Scalabale
    & Secured Backend.</h1><br>
    <input type="button" value="HINDI" style="font-size: 20px;background-color: aqua; border-radius: 20px;">
    <h3 style="color:aquamarine;padding-left: 0px;">BlackFriday Sales</h3>
    <h2 style="color:white;padding-left:0px;">2499&emsp;<strike>5999</strike>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    <input type="button" value="50%OFF" style="COLOR:Black;background-color: aqua;font-size: 20PX;border-radius: 10PX;"></h2>

</div>

<div style="width:30%;height:520px;background-color:black;border-radius: 10px;float: left; padding-left: 0px;">
    <img src="../static/im1.webp" alt="" style="width:100%;padding-left: 0px;">
    <h1 style="font-size:25px;color:white;padding-left: 0px;">Backend-Domination:Create Scalabale
    & Secured Backend.</h1><br>
    <input type="button" value="HINDI/ENGLISH" style="font-size: 20px;background-color: aqua; border-radius: 20px;">
    <h3 style="color:aquamarine;padding-left: 0px;">Limited Time Discount</h3>
    <h2 style="color:white;padding-left:0px;">2499&emsp;<strike>5999</strike>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    <input type="button" value="50%OFF" style="COLOR:Black;background-color: aqua;font-size: 20PX;border-radius: 10PX;"></h2>

</div>


<div style="width:30%;height:520px;background-color:black;border-radius: 10px;float:left; padding-left: 0px;">
    <img src="../static/im1.webp" alt="" style="width:100%;padding-left: 0px;">
    <h1 style="font-size:25px;color:white;padding-left: 0px;">Backend-Domination:Create Scalabale
    & Secured Backend.</h1><br>
    <input type="button" value="HINDI" style="font-size: 20px;background-color: aqua; border-radius: 20px;">
    <h3 style="color:aquamarine;padding-left: 0px;">Limited Time Discount</h3>
    <h2 style="color:white;padding-left:0px;">2499&emsp;<strike>5999</strike>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    <input type="button" value="50%OFF" style="COLOR:Black;background-color: aqua;font-size: 20PX;border-radius: 10PX;"></h2>

</div>
</div>
<br><br><br><br><br><br><br><br><br><br>
<div>
<input type="button" value="Views Details" style="width:30%;height:40px;border-radius:10px;color: black;background-color: aqua;padding-left: 0px;">
<input type="button" value="Views Details" style="width:30%;height:40px;border-radius:10px;color: black;background-color: aqua;padding-left: 0px;">
<input type="button" value="Views Details" style="width:30%;height:40px;border-radius:10px;color: black;background-color: aqua;padding-left: 0px;">
</div>
<br>
<br><br><br><br>
<div>

<div style="width:30%;height:520px;background-color:black;border-radius: 10px;float: left; padding-left: 0px;">
    <img src="../static/im1.webp" alt="" style="width:100%;padding-left: 0px;">
    <h1 style="font-size:25px;color:white;padding-left: 0px;">Backend-Domination:Create Scalabale
    & Secured Backend.</h1><br>
    <input type="button" value="HINDI" style="font-size: 20px;background-color: aqua; border-radius: 20px;">
    <h3 style="color:aquamarine;padding-left: 0px;">Limited Time Discount</h3>
    <h2 style="color:white;padding-left:0px;">2499&emsp;<strike>5999</strike>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    <input type="button" value="50%OFF" style="COLOR:Black;background-color: aqua;font-size: 20PX;border-radius: 10PX;"></h2>
</div>


<div style="width:30%;height:520px;background-color:black;;border-radius: 10px;float: left; padding-left: 0px;">
    <img src="../static/im1.webp" alt="" style="width:100%;padding-left: 0px;">
    <h1 style="font-size:25px;color:white;padding-left: 0px;">Backend-Domination:Create Scalabale
    & Secured Backend.</h1><br>
    <input type="button" value="HINDI/ENGLISH" style="font-size: 20px;background-color: aqua; border-radius: 20px;">
    <h3 style="color:aquamarine;padding-left: 0px;">Black Friday Sale</h3>
    <h2 style="color:white;padding-left:0px;">2499&emsp;<strike>5999</strike>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    <input type="button" value="50%OFF" style="COLOR:Black;background-color: aqua;font-size: 20PX;border-radius: 10PX;"></h2>

</div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div>
<input type="button" value="Views Details" style="width:30%;height:40px;border-radius:10px;color: black;background-color: aqua;padding-left: 0px;">
<input type="button" value="Views Details" style="width:30%;height:40px;border-radius:10px;color: black;background-color: aqua;padding-left: 0px;">
</div>
<br><br><br><br>
<hr style="color:white">
<br><br><br><br>
<div>
    <div style="padding-left:20px; float:left">
        <img src="../static/lio.jpg" alt="" style="width:50px;margin:0px;"><br><br> 
        <h4 style="color:white">Let's contact our socials</h4> <br><br>
        <img src="../static/inst2.png" alt="" style="width:20px;">&emsp; 
        <img src="../static/lin.jpg" alt="" style="width:20px">&emsp;
        <img src="../static/you.avif" alt=""style="width:20px">&emsp;
        <img src="../static/twi.png" alt=""style="width:20px">&emsp;
        <img src="../static/di.png" alt=""style="width:20px">&emsp;


    </div>

    <div style="float:left;padding-left: 400px;justify-items: flex-start;">
        <h3 style="color:white">COMPANY</h3><br>
        <h4 style="color:white">About Us</h4><br>
        <h4 style="color:white">Support</h4><br>
        <h4 style="color:white">Privacy Policy</h4><br>
        <h4 style="color:white">Terms and Condition</h4><br>
        <h4 style="color:white">Pricing and Refund</h4><br>
        <h4 style="color:white">Hire From Us</h4><br>
        <h4 style="color:white">Bug Bounty</h4><br>
    </div>
    <div style="padding:100px;float: left;justify-items:flex-start;padding-top:0px;">
        <h3 style="color:white">COMMUNITY</h3><br>
        <h4 style="color:white">Inertia</h4><br>
        <h4 style="color:white">Discord</h4><br>

    </div>
    <div style="float:left;align-items: center;padding-top: 0px;justify-items:flex-start">
        <h3 style="color:white">Get In Touch</h3><br>
        <h4 style="color:white">+918578878945</h4><br>
        <h4 style="color:white">+919059393608</h4><br>
        <h5 style="color:white">hello@gmail.com</h5><br>
        <h5 style="color:white">35-B,Indrapuri Sector C,</h5>
        <h5 style="color:white">Bhopal(MP),462021</h5>
    </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<hr style="color: white;padding-left:20px;">
<center>
    <pre><h2 style="color:white">Copyright&copy2024Sheryians Pvt.Ltd.
    All Rights Resereved</h2></pre>
</center>
</body>
</html>